<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rahmatullahrizki.uts_akb_10119283">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.ActivityDaftar"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Presenter.ReadData"
            android:parentActivityName=".View.ActivityDaftar" />
        <activity
            android:name=".Presenter.UpdateData"
            android:parentActivityName=".View.ActivityDaftar" />
        <activity
            android:name=".Presenter.CreateData"
            android:parentActivityName=".View.ActivityDaftar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".View.ActivitySplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>